:root {
    --primary-color: #adadad;
    --secondary-color: #64485c;
    --tertiary-color: #501b1d;
    --quaternary-color: #2e1114;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {
    background-color: #adadad;
    font-family: Arial, Helvetica, sans-serif;
 }

 /* header/navigation tags */
header {
    background-image: radial-gradient(var(--tertiary-color), var(--quaternary-color));
    padding: 20px 35px;
}

header h1 {
    font-size: 36px;
    font-weight: bold;
    color: #adadad;
    display: inline;
    margin: 0;
    position: sticky;
    top: 0;
}

header a {
    text-decoration: none;
    color: #adadad;
}

header nav {
    float: right;
    margin: 8px 0;
}

header nav ul {
    display: flex;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-size: 28px;
}
/* header/navigation tags end */

/* style all section tags */
section {
    padding: 20px;
}

/* hero styles start */
.hero {
    display: flex;
    justify-content: center;
}

.hero-main {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
} 
/* hero styles end */


/* about me styles start */

#about-me {
    display: flex;
    justify-content: center;
}

.about-text {
    width: 60%;
    text-align: center;
}


#son {
    width: 30%;
    height: 400px;
    background-image: url('../images/son-2nd-bday.jpg');
    background-position-y: 43%;
    background-size: cover;
}

#us {
    width: 30%;
    height: 400px;
    background-image: url('../images/pa-and-I.jpg');
    background-position: 90%;
    background-size: cover;

}
/* about me styles end */

#my-work {
    text-decoration: none;
    list-style: none;
}



/* footer begins */
footer {
    height: 80px;
    padding: 20px;
    width: 100%;
    color: #adadad;
    background-image: radial-gradient(var(--tertiary-color), var(--quaternary-color));
}

footer h2 {
    display: inline;
    font-size: 30px;
}