* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

 body {
     color: red;
     font-family: Helvetica, Arial, sans-serif;
 }

 /* header/navigation tags */
header {
    font-size: 22px;
}